<!-- Welcome Area Start -->
<section class="welcome-area">
    <div class="welcome-slides owl-carousel">
        <!-- Single Slide -->
        <div class="single-welcome-slide bg-img bg-overlay" style="        background-image: url('/assets/img/photo-1581094376368-ae9f64e15985.webp');">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <!-- Welcome Text -->
                    <div class="col-12 col-lg-12 col-xl-12">
                        <div class="welcome-text">

                            <h2 data-animation="bounceInUp" data-delay="100ms">ALNAWRAS <br> <span class="text">SAFETY AND SECURITY SYSTEMS LLC</span></h2>

                            <p data-animation="bounceInDown" data-delay="500ms">Al Nawras has been founded and established by Eng. Mohammed Ghazy bringing with him over thirty (30) years of experience in the Safety And Security Industry in the UAE.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Slide -->
        <div class="single-welcome-slide bg-img bg-overlay" style="        background-image: url('/assets/img/zc2a509baf679429.jpg');">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <!-- Welcome Text -->
                    <div class="col-12 col-lg-8 col-xl-8">
                        <div class="welcome-text">
                            <h2 data-animation="bounceInUp" data-delay="100ms">ALNAWRAS <br> <span class="text">SAFETY AND SECURITY SYSTEMS LLC</span></h2>
                            <p data-animation="bounceInUp" data-delay="500ms">At AL Nawras, we are proud to be an emerging leader in providing safety and security services and solutions for our valuable clients. Our first priority is to satisfy and impress our clients by the innovative solutions and provide to our esteemed clients.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>
</section>
<!-- Welcome Area End -->
<!-- Breadcrumb Area End -->
<!-- About Us Area Start -->
<div class="about-us-area section-padding-80-0 clearfix">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-8">
                <div class="about-us-content mb-80">
                    <h3 class="wow fadeInUp" data-wow-delay="100ms">A Message from the CEO</h3>
                    <div class="line wow fadeInUp" data-wow-delay="200ms"></div>
                    <p class="wow fadeInUp" data-wow-delay="300ms">The UAE has undergone an unprecedented phase of expansion in the construction market in the last decades, Gladly participating in UAE’s renaissance period. Considering the importance of this factor, it is becoming imperative that we operate AL Nawras S&S, that specializes in delivering superior and professional safety & security services.</p>
                    <p class="wow fadeInUp" data-wow-delay="300ms">At Al Nawras, we are committed to conduct our business professionally to all clients. Our main aim is to enhance the overall safety standards in UAE community that we enjoy living and working in & We are.</p>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="about-video-area mb-80 wow fadeInUp" data-wow-delay="100ms">
                    <img src="~/assets/img/Capture343.PNG" alt="">

                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-12 col-lg-8">
                <div class="about-us-content mb-80">
                    <h3 class="wow fadeInUp" data-wow-delay="100ms">Organizational Vision Statement</h3>
                    <div class="line wow fadeInUp" data-wow-delay="200ms"></div>
                    <p class="wow fadeInUp" data-wow-delay="300ms">

                        <strong>Prevention</strong>  Procedures and activities that are reducing risk from fire.
                        For a secure life, property and environment.<br />
                        <strong>Exceptional</strong>  People with quality Experience, expertise and knowledge in the field to provide the best solutions accurate estimation and requirements for the fire safety protection of the building considering and meeting criteria of local authorities.<br />
                        <strong>Leadership</strong>  from the board of director and Management Team that is clear and conscious.<br />
                        <strong>Members</strong>  who are enthusiastic, motivated and empowered.<br />
                        <strong> An Organization </strong>that is committed and dedicated.
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="about-video-area mb-80 wow fadeInUp" data-wow-delay="100ms">
                    <img src="~/assets/img/wwe.png" alt="">

                </div>
            </div>
        </div>
    </div>

</div>

<!-- About Us Area End -->
<!-- Why Choose Us Area Start -->
<section class="why-choose-us-area bg-gray section-padding-80-0 clearfix" style=" background-repeat: no-repeat; background-position: center center; background-size: cover; background-attachment: fixed; background-image: url('/assets/img/home-parallax-background.jpg') !important; ">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
                    <h2>
                        Our Values
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Why Choose Area -->
            <div class="col-md-6 col-lg-4">
                <div class="why-choose-us-content text-center mb-80 wow fadeInUp" data-wow-delay="100ms">
                    <div class="chosse-us-icon">
                        TURN KEY SERVICES
                    </div>

                    <p>
                        A fully Turn Key service is available for small to large Fire Alarm and Fire Suppression system applications
                    </p>
                </div>
            </div>

            <!-- Single Why Choose Area -->
            <div class="col-md-6 col-lg-4" asp-controller="OurValues" asp-action="Value1">
                <div class="why-choose-us-content text-center mb-80 wow fadeInUp" data-wow-delay="300ms">
                    <div class="chosse-us-icon">
                        AFTER SALES SERVICE
                    </div>

                    <p>
                        Al Nawras carry out comprehensive after sales services including service / maintenance of all types of fire and safety related equipment from all manufacturers
                    </p>
                </div>
            </div>

            <!-- Single Why Choose Area -->
            <div class="col-md-6 col-lg-4">
                <div class="why-choose-us-content text-center mb-80 wow fadeInUp" data-wow-delay="500ms">
                    <div class="chosse-us-icon">
                        FIRE RISK ASSESSMENT
                    </div>
                    <p>
                        The Fire Precautions require a Fire Risk Assessment to be undertaken by a competent person.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Why Choose Area -->
            <div class="col-md-6 col-lg-4">
                <div class="why-choose-us-content text-center mb-80 wow fadeInUp" data-wow-delay="100ms">
                    <div class="chosse-us-icon">
                        QUALITY
                    </div>

                    <p>
                        QUALITY is ingrained in the work of our colleagues and all our VALUES. We have a relentless PASSION for quality in everything we do.
                    </p>
                </div>
            </div>

            <!-- Single Why Choose Area -->
            <div class="col-md-6 col-lg-4">
                <div class="why-choose-us-content text-center mb-80 wow fadeInUp" data-wow-delay="300ms">
                    <div class="chosse-us-icon">
                        CUSTOMER FOCUS
                    </div>

                    <p>
                        We exceed CUSTOMER EXPECTATIONS for value and service. We build and maintain customer relationships and ensure long-term satisfaction.
                    </p>
                </div>
            </div>

            <!-- Single Why Choose Area -->
            <div class="col-md-6 col-lg-4">
                <div class="why-choose-us-content text-center mb-80 wow fadeInUp" data-wow-delay="500ms">
                    <div class="chosse-us-icon">

                        PERFORMANCE
                    </div>
                    <p>
                        We strive for continuous improvement in our PERFORMANCE, measuring RESULTS carefully, and ensuring that integrity and respect for people are never compromised.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Why Choose  us Area End -->
<!-- Our Team Area Start -->
<section class="our-team-area section-padding-80-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
                    <h2>Our Clients</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Team Member Area -->
            <div class="col-md-6 col-xl-3">
                <div class="team-content-area text-center mb-30 wow fadeInUp" data-wow-delay="100ms">
                    <div class="member-thumb">
                        <img src="~/assets/img/bg-img/19.jpg" alt="">
                    </div>
                    <h5>Andrew Dean</h5>
                    <span>Photographer</span>
                    <div class="member-social-info">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"><i class="ti-twitter-alt"></i></a>
                        <a href="#"><i class="ti-linkedin"></i></a>
                        <a href="#"><i class="ti-pinterest"></i></a>
                    </div>
                </div>
            </div>

            <!-- Team Member Area -->
            <div class="col-md-6 col-xl-3">
                <div class="team-content-area text-center mb-30 wow fadeInUp" data-wow-delay="300ms">
                    <div class="member-thumb">
                        <img src="~/assets/img/bg-img/19.jpg" alt="">
                    </div>
                    <h5>Tommy Kim</h5>
                    <span>Photographer</span>
                    <div class="member-social-info">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"><i class="ti-twitter-alt"></i></a>
                        <a href="#"><i class="ti-linkedin"></i></a>
                        <a href="#"><i class="ti-pinterest"></i></a>
                    </div>
                </div>
            </div>

            <!-- Team Member Area -->
            <div class="col-md-6 col-xl-3">
                <div class="team-content-area text-center mb-30 wow fadeInUp" data-wow-delay="500ms">
                    <div class="member-thumb">
                        <img src="~/assets/img/bg-img/19.jpg" alt="">
                    </div>
                    <h5>Max McCormick</h5>
                    <span>Photographer</span>
                    <div class="member-social-info">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"><i class="ti-twitter-alt"></i></a>
                        <a href="#"><i class="ti-linkedin"></i></a>
                        <a href="#"><i class="ti-pinterest"></i></a>
                    </div>
                </div>
            </div>

            <!-- Team Member Area -->
            <div class="col-md-6 col-xl-3">
                <div class="team-content-area text-center mb-30 wow fadeInUp" data-wow-delay="700ms">
                    <div class="member-thumb">
                        <img src="~/assets/img/bg-img/22.jpg" alt="">
                    </div>
                    <h5>Robert Ward</h5>
                    <span>Photographer</span>
                    <div class="member-social-info">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"><i class="ti-twitter-alt"></i></a>
                        <a href="#"><i class="ti-linkedin"></i></a>
                        <a href="#"><i class="ti-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our Team Area End -->
