<section class="breadcrumb-area bg-img bg-overlay jarallax" style="        background-image: url('/assets/img/Captur33e.PNG');">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content text-center">
                    <h2 class="page-title">About Us</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><i class="icon_house_alt"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="contact1">
    <div class="container-contact1">

        <div class="contact1-pic js-tilt" data-tilt>
            <p style="color:brown;font-weight:600">Head office</p>

            ADDRESS :
            Office No. 806, Al Baker Tower 5 at Al Mamzar, Sharjah UAE
            TELEPHONE :
            +971 6 562 5425<br />
            FAX:
            +971 6 562 6686<br />
            MOBILE:
            +971 55 109 9885<br />
            P.O.BOX :
            38081 – Sharjah, UAE<br />
            EMAIL :
            info@nawrassystems.com<br />
            WEBSITE :
            www.nawrassystems.com

            <p style="color:brown;font-weight:600">Dubai Branch</p>


            Dubai Branch :
            ADDRESS :
            Warehouse no. 6-A at Ras Al Khor Industrial Area 2nd, Dubai, UAE<br />
            TELEPHONE :
            +971 4 4547187<br />
            FAX:
            +971 4 4540972<br />
            @*<i class="fa fa-phone"></i>*@
            MOBILE:
            +971 50 5759139<br />
            +971 55 1099879<br />
            P.O.BOX :
            236742 – Dubai, UAE
            <p style="color:brown;font-weight:600">Warehouse</p>

            Warehouse :
            ADDRESS :
            Shed No. 13, Industrial Area No. 6- Sharjah<br />
            TELEPHONE :
            +971 6 562 5425<br />
            FAX:
            +971 6 562 6686<br />
            MOBILE:
            +971 55 1099884

            <!--<div class="contact-info mb-30">
        <p>Location</p>
        Office No. 806, Al Baker Tower 5 at Al Mamzar, Sharjah UAE
    </div>
    <div class="contact-info mb-30">

        <a href="mailto:info.deercreative@gmail.com"> <p>Email</p>info.deercreative@gmail.com</a>
    </div>-->
            <!-- Contact Info -->
            <!--<div class="contact-info mb-30">
        <p>Call Us</p>
        <a href="#">
            +971 6 5625425 <br>

            +971 50 454 4361<br>

            Fax: +971 6 5626686<br>

            P.O.Box : 38081,Sharjah
        </a>
    </div>-->
        </div>

        <form class="contact1-form validate-form">
            <span class="contact1-form-title">
               Contact Us
            </span>

            <div class="wrap-input1 validate-input" data-validate="Name is required">
                <input class="input1" type="text" name="name" placeholder="Name">
                <span class="shadow-input1"></span>
            </div>

            <div class="wrap-input1 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                <input class="input1" type="text" name="email" placeholder="Email">
                <span class="shadow-input1"></span>
            </div>

            <div class="wrap-input1 validate-input" data-validate="Subject is required">
                <input class="input1" type="text" name="subject" placeholder="Subject">
                <span class="shadow-input1"></span>
            </div>

            <div class="wrap-input1 validate-input" data-validate="Message is required">
                <textarea class="input1" name="message" placeholder="Message"></textarea>
                <span class="shadow-input1"></span>
            </div>

            <div class="container-contact1-form-btn">
                <button class="contact1-form-btn">
                    <span>
                        Send Email
                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>
<div id="map" class="container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3606.7214657191453!2d55.37069741484779!3d25.313560583842165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f5a2f391658c7%3A0xa54cf020dae652f5!2sAl%20Nawras%20Safety%20and%20Security%20Systems!5e0!3m2!1sen!2sus!4v1613304426146!5m2!1sen!2sus" width="1000" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>


