@{
    ViewData["Title"] = "Home Page";
}

<!-- Welcome Area Start -->
<section class="welcome-area">
    <div class="welcome-slides owl-carousel">
        <!-- Single Slide -->
        <div class="single-welcome-slide bg-img bg-overlay" style="        background-image: url('/assets/img/slide0.jpg');">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <!-- Welcome Text -->
                    <div class="col-12 col-lg-12 col-xl-8">
                        <div class="welcome-text">

                            <h2 data-animation="bounceInUp" data-delay="100ms">ALNAWRAS <br> <span class="text">SAFETY AND SECURITY SYSTEMS LLC</span></h2>

                            <p data-animation="bounceInDown" data-delay="500ms">To protect life and property through our high dedication to enhance the safety standards along with positive contribution to the community we live in and operate at.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-welcome-slide bg-img bg-overlay" style="        background-image: url('/assets/img/music-4775509_1280.jpg');">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <!-- Welcome Text -->
                    <div class="col-12 col-lg-12 col-xl-">
                        <div class="welcome-text">
                            <h2 data-animation="bounceInUp" data-delay="100ms">ALNAWRAS <br> <span class="text">SAFETY AND SECURITY SYSTEMS LLC</span></h2>
                            <p data-animation="bounceInUp" data-delay="500ms">has been founded and established by Eng. Mohammed Ghazy bringing with him over twenty five years of experience in the safety and security industry in the UAE.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Slide -->
        <div class="single-welcome-slide bg-img bg-overlay" style="  background-image: url('/assets/img/slider2.jpg');">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <!-- Welcome Text -->
                    <div class="col-12 col-lg-8 col-xl-8">
                        <div class="welcome-text">
                            <h2 data-animation="bounceInUp" data-delay="100ms">ALNAWRAS <br> <span class="text">SAFETY AND SECURITY SYSTEMS LLC</span></h2>
                            <p data-animation="bounceInUp" data-delay="500ms">To reduce and Eliminate Risk from Fire in the community we serve and to be the first choice provider for safety and security solutions within UAE market</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="single-welcome-slide bg-img bg-overlay" style="        background-image: url('/assets/img/firefighters-115800_1280.jpg');">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <!-- Welcome Text -->
                    <div class="col-12 col-lg-12 col-xl-">
                        <div class="welcome-text">
                            <h2 data-animation="bounceInUp" data-delay="100ms">ALNAWRAS <br> <span class="text">SAFETY AND SECURITY SYSTEMS LLC</span></h2>
                            <p data-animation="bounceInUp" data-delay="500ms">is a leading Fire Protection, Engineering, Supply and Fire Service Company offering a "one stop shop" for client's system solutions and equipment needs.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</section>
<!-- Welcome Area End -->
<!-- Blog Area Start -->
<div class="alime-blog-area section-padding-10-0 mb-70" style="background-color:black">

    <div class="row">

        <!-- Single Blog Area -->
        <div class="col-12 col-lg-4">
            <div class="single-post-area wow fadeInUpBig" data-wow-delay="100ms">
                <!-- Post Thumbnail -->
                <a href="#" class="post-thumbnail"><img src="~/assets/img/yy.png" alt=""></a>
                <!-- Post Catagory -->
                <a style="margin-right: 43% !important;" href="#" class="btn post-catagory">System Integrator</a>
                <!-- Post Conetent -->
                <div class="post-content">

                    <a href="#" class="post-title">Fire Alarm , Voice Evacuation and Emergency Light Systems </a>
                    <a style="margin-left: 46% !important; color: antiquewhite !important;" asp-action="index" asp-controller="products" class="btn alime-btn mb-3 mb-sm-0 mr-4">Read More</a>

                </div>
            </div>
        </div>

        <div class="col-12 col-lg-4">
            <div class="single-post-area wow fadeInUpBig" data-wow-delay="100ms">
                <!-- Post Thumbnail -->
                <a href="#" class="post-thumbnail"><img src="~/assets/img/zc2a509baf679429.jpg" alt=""></a>
                <!-- Post Catagory -->
                <a style="margin-right: 6% !important;" href="#" class="btn post-catagory">Supply And Installation Services</a>
                <!-- Post Conetent -->
                <div class="post-content">
                    @*<div class="post-meta">
            <a href="#">May 19, 2019</a>
            <a href="#">3 Comment</a>
        </div>*@
                    <a href="#" class="post-title"> Fire Protection / Detection Solutions  </a>
                    <a href="#" class="post-title"> Emergency Light Solutions  </a><br />
                    <a href="#" class="post-title"> Smoke Managment Sytems </a>
                    <a style="margin-left: 46% !important; color: antiquewhite !important;" asp-action="index" asp-controller="projects" class="btn alime-btn mb-3 mb-sm-0 mr-4">Read More</a>


                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="single-post-area wow fadeInUpBig" data-wow-delay="100ms">
                <!-- Post Thumbnail -->
                <a href="#" class="post-thumbnail"><img src="~/assets/img/8a7bcd84.jpg" alt=""></a>
                <!-- Post Catagory -->
                <a style="margin-right: 36% !important;" href="#" class="btn post-catagory">Facility Managment</a>
                <!-- Post Conetent -->
                <div class="post-content">
               
                    <a href="#" class="post-title">We are approved to carry out fire equipment after sales services by the UAE Civil Defence Directorate</a>
                    <a style="margin-left: 46% !important; color: antiquewhite !important;" href="#" class="btn alime-btn mb-3 mb-sm-0 mr-4">Read More</a>

                </div>
            </div>
        </div>


    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="section-heading text-center">
                <h2>SOLUTIONS PORTFOLIO</h2>
            </div>
        </div>
    </div>
</div>
<!-- Blog Area Start -->
<div class="alime-blog-area section-padding-10-0 mb-70" >
    <div class="container">
        <div class="row">
            <!-- Single Blog Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-post-area wow fadeInUpBig" data-wow-delay="100ms">
                    <!-- Post Thumbnail -->
                    <a href="#" class="post-thumbnail"><img src="~/assets/img/Fire-extinquisher-002.jpg" alt=""></a>

                    <!-- Post Conetent -->
                    <div class="post-content">

                        <a asp-controller="solutions" asp-action="FireFighting" class="post-title">FIRE FIGHTING SYSTEM</a>
                    </div>
                </div>
            </div>

            <!-- Single Blog Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-post-area wow fadeInUpBig" data-wow-delay="400ms">
                    <!-- Post Thumbnail -->
                    <a href="#" class="post-thumbnail"><img src="~/assets/img/fire.png" alt=""></a>
                    <!-- Post Catagory -->

                    <div class="post-content">

                        <a asp-action="FireDetection" asp-controller="Solutions"  class="post-title"> FIRE ALARM SYSTEM</a>
                    </div>
                </div>
            </div>

            <!-- Single Blog Area -->
            <div class=" col-12 col-lg-6">
                <div class="single-post-area wow fadeInUpBig" data-wow-delay="700ms">
                    <!-- Post Thumbnail -->
                    <a href="#" class="post-thumbnail"><img src="~/assets/img/www.png" alt=""></a>

                    <div class="post-content">

                        <a asp-action="FireDetection" asp-controller="Solutions"  class="post-title">VOICE EVACUATION SYSTEM</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="single-post-area wow fadeInUpBig" data-wow-delay="700ms">
                    <!-- Post Thumbnail -->
                    <a href="#" class="post-thumbnail"><img src="~/assets/img/Capture33.PNG" alt=""></a>
                    <!-- Post Catagory -->
                    <!-- Post Conetent -->
                    <div class="post-content">

                        <a href="#" class="post-title">Facilities Management</a>
                    </div>
                </div>
            </div>
            <!-- Single Blog Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-post-area wow fadeInUpBig" data-wow-delay="100ms">
                    <!-- Post Thumbnail -->
                    <a href="#" class="post-thumbnail"><img src="~/assets/img/wwwwwwer.png" alt=""></a>
                    <!-- Post Catagory -->
                    <!-- Post Conetent -->
                    <div class="post-content">

                        <a asp-action="EmergencyLight" asp-controller="Solutions"   class="post-title">EMERGENCY LIGHT SYSTEM  </a>
                    </div>
                </div>
            </div>

            <!-- Single Blog Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-post-area wow fadeInUpBig" data-wow-delay="400ms">
                    <!-- Post Thumbnail -->
                    <a href="#" class="post-thumbnail"><img src="~/assets/img/Capture.PNG" alt=""></a>
                    <!-- Post Catagory -->
                    <!-- Post Conetent -->
                    <div class="post-content">

                        <a asp-action="SmokeManagement" asp-controller="solutions" class="post-title">SMOKE MANAGEMENT SYSTEM</a>
                    </div>
                </div>
            </div>

            <!-- Single Blog Area -->
            <!-- Single Blog Area -->
            <div class="col-12 col-lg-6">
                <div class="single-post-area wow fadeInUpBig" data-wow-delay="100ms">
                    <!-- Post Thumbnail -->
                    <a href="#" class="post-thumbnail"><img src="~/assets/img/Capture12.PNG" alt=""></a>
                    <div class="post-content">

                        <a asp-action="ELV" asp-controller="solutions" class="post-title">ELV Solution</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="single-post-area wow fadeInUpBig" data-wow-delay="100ms">
                    <!-- Post Thumbnail -->
                    <a href="#" class="post-thumbnail"><img src="~/assets/img/special-hazards-fire-suppression.jpg" alt=""></a>
                    <div class="post-content">

                        <a asp-action="SPECIALSUPRESSION" asp-controller="solutions"   class="post-title">SPECIAL SUPRESSION SYSTEM</a>
                    </div>
                </div>
            </div>

            <!-- Single Blog Area -->
            <!-- Single Blog Area -->


        </div>
    </div>
</div>
<!-- Blog Area End -->
