<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
                <h1 class="h2">licenses</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb d-flex justify-content-end">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">licenses</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container py-2">
    <div class="row min-vh-100 align-items-center">
        <div class="col-lg-10 offset-lg-2" id="slider">
            <div id="myCarousel" class="carousel slide shadow">
                <!-- main slider carousel items -->
                <div class="carousel-inner">
                    <div class="active carousel-item" data-slide-number="0">
                        <img src="~/img/info/1.PNG" class="img-fluid">
                    </div>

                    <div class="carousel-item" data-slide-number="1">
                        <img  src="~/img/info/2.PNG" class="img-fluid">
                    </div>
                    <div class="carousel-item" data-slide-number="2">
                        <img  src="~/img/info/3.PNG" class="img-fluid">
                    </div>
                    <div class="carousel-item" data-slide-number="3">
                        <img src="~/img/info/4.PNG" class="img-fluid">
                    </div>
                    <div class="carousel-item" data-slide-number="4">
                        <img src="~/img/info/5.PNG" class="img-fluid">
                    </div>
                    <div class="carousel-item" data-slide-number="5">
                        <img src="~/img/info/6.PNG" class="img-fluid">
                    </div>
                    <div class="carousel-item" data-slide-number="6">
                        <img src="~/img/info/7.PNG" class="img-fluid">
                    </div>
                    <div class="carousel-item" data-slide-number="7">
                        <img src="~/img/info/8.PNG" class="img-fluid">
                    </div>
                    <div class="carousel-item" data-slide-number="8">
                        <img src="~/img/info/9.PNG" class="img-fluid">
                    </div>
            

                </div>
                <ul class="carousel-indicators list-inline mx-auto border px-1">
                    <li class="list-inline-item active">
                        <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#myCarousel">
                            <img src="~/img/info/1.PNG" class="img-fluid">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a id="carousel-selector-1" data-slide-to="1" data-target="#myCarousel">
                            <img src="~/img/info/2.PNG" class="img-fluid">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a id="carousel-selector-2" data-slide-to="2" data-target="#myCarousel">
                            <img src="~/img/info/3.PNG" class="img-fluid">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a id="carousel-selector-3" data-slide-to="3" data-target="#myCarousel">
                            <img src="~/img/info/4.PNG" class="img-fluid">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a id="carousel-selector-4" data-slide-to="4" data-target="#myCarousel">
                            <img src="~/img/info/5.PNG" class="img-fluid">
                        </a>
                    </li>

                    <li class="list-inline-item">
                        <a id="carousel-selector-5" data-slide-to="5" data-target="#myCarousel">
                            <img src="~/img/info/6.PNG" class="img-fluid">
                        </a>
                    </li>

                    <li class="list-inline-item">
                        <a id="carousel-selector-6" data-slide-to="6" data-target="#myCarousel">
                            <img src="~/img/info/7.PNG" class="img-fluid">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a id="carousel-selector-7" data-slide-to="7" data-target="#myCarousel">
                            <img src="~/img/info/8.PNG" class="img-fluid">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a id="carousel-selector-8" data-slide-to="8" data-target="#myCarousel">
                            <img src="~/img/info/9.PNG" class="img-fluid">
                        </a>
                    </li>
               
                </ul>
            </div>
        </div>

    </div>
    <!--/main slider carousel-->
</div>
