
@{
    ViewData["Title"] = "Markets";
}
<section class="breadcrumb-area bg-img bg-overlay jarallax" style="        background-image: url('/assets/img/image1.jpg');">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content text-center">
                    <h2 class="page-title">Markets</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><i class="icon_house_alt"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Markets</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Follow Area Start -->
<div class="follow-area clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Markets</h2>
                    <p>
                        AL NAWRAS
                        SAFETY & SECURITY
                        SYSTEMS
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Instagram Feed Area -->
    <div class="instragram-feed-area owl-carousel">
        <!-- Single Instagram Item -->
        <div class="single-instagram-item">
            <img src="~/assets/img/image3_1452400154_w400.jpg" alt="">
            <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                <a href="#">
                    <span>Residential Building</span>
                </a>
            </div>
        </div>
        <!-- Single Instagram Item -->
        <div class="single-instagram-item">
            <img src="~/assets/img/shutterstock_146636837_1444646921_w400.jpg" alt="">
            <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                <a href="#">
                    <span>Commircial Building</span>
                </a>
            </div>
        </div>
        <!-- Single Instagram Item -->
        <div class="single-instagram-item">
            <img src="~/assets/img/image3_1452400154_w400.jpg" alt="">
            <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                <a href="#">
                    <span>Schooles And Educationals Builds</span>
                </a>
            </div>
        </div>
        <!-- Single Instagram Item -->
        <div class="single-instagram-item">
            <img src="~/assets/img/image3_1452400154_w400.jpg" alt="">
            <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                <a href="#">
                    <span>Werehouses/Stores</span>
                </a>
            </div>
        </div>
        <!-- Single Instagram Item -->
        <div class="single-instagram-item">
            <img src="~/assets/img/shutterstock_198597716_1444647126_w400.jpg" alt="">
            <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                <a href="#">
                    <span>Vills</span>
                </a>
            </div>
        </div>
        <!-- Single Instagram Item -->
        <div class="single-instagram-item">
            <img src="~/assets/img/image3_1452400154_w400.jpg" alt="">
            <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                <a href="#">
                    <span>Infrustructure</span>
                </a>
            </div>
        </div>



        <div class="single-instagram-item">
            <img src="~/assets/img/image3_1452400154_w400.jpg" alt="">
            <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                <a href="#">
                    <span>Hotels</span>
                </a>
            </div>
        </div>
        <div class="single-instagram-item">
            <img src="~/assets/img/image3_1452400154_w400.jpg" alt="">
            <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                <a href="#">
                    <span>CarBarking</span>
                </a>
            </div>
        </div>
        <div class="single-instagram-item">
            <img src="~/assets/img/image3_1452400154_w400.jpg" alt="">
            <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                <a href="#">
                    <span>Manufactoring / Factors</span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Follow Area End -->
