   <!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Our Blog</h2>
            </div>
            <div class="col-12">
                <a href="">Home</a>
                <a href="">Our Product</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Blog Start -->
<div class="blog">
    <div class="container">

        <div class="row blog-page">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="~/img/p1 (1).jpg" alt="Image">
                    </div>
                    <div class="blog-title">
                        <h3>Fire Alarm Systems</h3>
                        <a class="btn" href="">+</a>
                    </div>

                    <div class="blog-text">
                        <p>
                            Al Nawras team is capable to install and run 2 typr of Fire alarm systems
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="~/img/p1 (2).jpg" alt="Image">
                    </div>
                    <div class="blog-title">
                        <h3>Automatic Sprinkler systems</h3>
                        <a class="btn" href="">+</a>
                    </div>

                    <div class="blog-text">
                        <p>
                            Al Nawras guarantee utilizing the latest CAD technology and other software required for the hydraulic calculations
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="~/img/p1 (3).jpg" alt="Image">
                    </div>
                    <div class="blog-title">
                        <h3> PUBLIC ADDRESS VOICE</h3>
                        <a class="btn" href="">+</a>
                    </div>

                    <div class="blog-text">
                        <p>
                            This system can be activated manually or automatically by hydraulic, pneumatic or electrical detection systems.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="~/img/p1 (3).jpg" alt="Image">
                    </div>
                    <div class="blog-title">
                        <h3>Deluge water supply systems</h3>
                        <a class="btn" href="">+</a>
                    </div>

                    <div class="blog-text">
                        <p>
                            This system can be activated manually or automatically by hydraulic, pneumatic or electrical detection systems.
                        </p>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>
<!-- Blog End -->
