    <!-- Breadcrumb Area Start -->
<section class="breadcrumb-area bg-img bg-overlay jarallax" style="        background-image: url('/assets/img/_fw01_raf_firefighter.jpg');">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content text-center">
                    <h2 class="page-title">Key-Products</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><i class="icon_house_alt"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Key-Products</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Area Start -->
<div class="alime-blog-area section-padding-10-0 mb-70">
    <div class="container">
        <h2 style="text-align:center;margin:5%" class="contact-title mb-30">Our-Products</h2>

        <div class="row">
            <!-- Single Blog Area -->
            <div class="col-12 col-lg-4">
                <div class="single-post-area wow fadeInUpBig" data-wow-delay="100ms">
                    <!-- Post Thumbnail -->
                    <a href="#" class="post-thumbnail"><img src="~/assets/img/Fire-extinquisher-002.jpg" alt=""></a>
                    <!-- Post Catagory -->
                    <!-- Post Conetent -->
                    <div class="post-content">

                        <a asp-controller="Products" asp-action="FirePumb" class="post-title"> FIRE PUMPS </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="single-post-area wow fadeInUpBig" data-wow-delay="100ms">
                    <!-- Post Thumbnail -->
                    <a href="#" class="post-thumbnail"><img src="~/assets/img/Fire-Alarm.jpg" alt=""></a>

                    <div class="post-content">

                        <a asp-controller="Products" asp-action="FireAlarm" class="post-title"> FIRE ALARM SYSTEM</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="single-post-area wow fadeInUpBig" data-wow-delay="100ms">
                    <!-- Post Thumbnail -->
                    <a href="#" class="post-thumbnail"><img src="~/assets/img/PUBLIC.PNG" alt=""></a>
                    <!-- Post Catagory -->
                    <!-- Post Conetent -->
                    <div class="post-content">
                         


                        <a asp-controller="Products" asp-action="PUBLICADDRESS" class="post-title"> PUBLIC ADDRESS VOICE</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="single-post-area wow fadeInUpBig" data-wow-delay="100ms">
                    <!-- Post Thumbnail -->
                    <a href="#" class="post-thumbnail"><img src="~/assets/img/R1b83df2a3ac7c1623fb6d24cf5aa77e4.jpg" alt=""></a>
                    <!-- Post Catagory -->
                    <!-- Post Conetent -->
                    <div class="post-content">

                        <a asp-controller="Products" asp-action="EmergencyLight" class="post-title"> EMERGEENCY LIGHT SYSTEM</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="single-post-area wow fadeInUpBig" data-wow-delay="100ms">
                    <!-- Post Thumbnail -->
                    <a href="#" class="post-thumbnail"><img src="~/assets/img/gettyimages-1093678798-612x612.jpg" alt=""></a>
                    <!-- Post Catagory -->
                    <!-- Post Conetent -->
                    <div class="post-content">

                        <a asp-controller="Products" asp-action="BUILDINGMANAGMENT" class="post-title">BUILDING MANAGMENT SYSTEM</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Blog Area End -->
